@import "tailwindcss";

@layer base {
  html,
  body,
  #root {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    overflow-x: hidden;
    cursor: none;
  }

  * {
    cursor: none !important;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
}
